.arrow-container {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.back-arrow {
    padding-left: 1rem;
    font-size: 2rem;
}

.restaurants-zone {
    padding-left: 1rem;
    font-size: 1.5rem;
}

.my-container {
    max-width: 1320px;
    min-width: 375px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1rem 0.5rem 10rem 0.5rem;

    // DEBUG
    // border: 1px solid black;
    // min-height: 300px;
}

.my-card-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.router-link {
    text-decoration: none;
    color: inherit;
}

.my-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 8px;
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.my-card:hover {
    transform: scale(1.05);
}

.restaurant-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease;
}

.restaurant-image:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
}


h6 {
    font-size: 1.1rem;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 0.5rem;
}

p {
    display: block;
    margin-bottom: 0;
}

.open-status {
    color: green;
    padding-left: 0.5rem;
}

.closed-status {
    color: red;
    padding-left: 0.5rem;
}
  

@media (min-width: 576px) and (max-width: 1024px) {

    .my-card{
        width: calc((100% / 2) - 16px);
    }
}

@media (min-width: 1025px) and (max-width: 1320px) {
    .my-card{
        width: calc((100% / 3) - 16px);
    }
}

@media (min-width: 1321px) {
    .my-card{
        width: calc((100% / 4) - 16px);
        align-self: flex-start;
    }
}
  
  