.my-container {
    max-width: 1320px;
    min-width: 375px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0.5rem;

    // DEBUG
    border: 1px solid black;
    min-height: 300px;
}

.my-card-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.my-card{
    // min-width: 270px;
    // width: calc((100% / 4) - 16px);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    margin: 0.5rem;

    // DEBUG
    min-height: 180px;
    border: 1px solid black;
    background-color: pink;
}


@media (max-width: 575px) {
    /* Stili da applicare quando la larghezza dello schermo è <= 768px */
    /* Ad esempio, modifiche al layout per dispositivi mobili */
}
  

@media (min-width: 576px) and (max-width: 1024px) {

    .my-card{
        width: calc((100% / 2) - 16px);
    }
}

@media (min-width: 1025px) and (max-width: 1320px) {
    .my-card{
        // min-width: 270px;
        width: calc((100% / 3) - 16px);
    }
}

@media (min-width: 1321px) {
    .my-card{
        width: calc((100% / 4) - 16px);
        align-self: flex-start;
    }
}
  
  